<section id="about" class="about">
    <div class="about-section">
        <div class="imgblock">
            <img src="assets/images//mobile/about_m.jpg" alt="">
        </div>
        <div class="text-block">
            <p>Hello! My name is Maria Elena Falkowska. I am an artist, craftswoman, 
                graduate of the Folk Art University in Wola Sękowa, Poland.</p>
            <p>I am more than happy to welcome you on my website.</p>
        </div>
    </div>

    <div class="about-section odd">
        <div class="imgblock">
            <img src="assets/images//mobile/entrance_m.jpg" alt="">
        </div>
        <div class="text-block text2">    
            <p>FELT LIKE IT is a space where you can find colorful unique products made of felt 
                which are definitely going to make your outfit comfortable, soft, cozy and durable.</p>
        </div>        
    </div>        
    
    <div class="about-section">
        <div class="imgblock">
            <img src="assets/images//mobile/hat_m.jpg" alt="">
        </div>
        <div class="text-block text3">
            <p>All my creations are 100% handmade of the highest quality natural products: fiber, needles, 
                hot water, organic soap, A LOT OF LOVE and dedication to satisfy personal needs of my customers.</p>
        </div>
    </div>     

</section>