<section id="contact" class="contact">
        <div class="textblock">
            <p>If you like what you`ve seen here, drop me a line:</p>
        </div>
        <form class="form">
            <fieldset class="userdata">
                <input class="userdata-field" type="name" name="username"
                    placeholder="Your name *" required />
                <input class="userdata-field" type="email" name="email-address"
                    placeholder="Your email *" required />
            </fieldset>
            <fieldset class="message">
                <textarea class="message-field" name="message" rows="7"
                    placeholder="Your message *"></textarea>
            </fieldset>
            <button class="button" name="submit">Send</button>
        </form>
    </section>
