<section id="contact" class="contact">
        <div class="textblock">
            <p>If you like what you`ve seen here, drop me a line:</p>
        </div>
        <form class="form" action="https://getform.io/f/724947eb-47a7-439b-9318-725179e396b5" method="POST">
            <fieldset class="userdata">
                <input class="userdata-field" type="name" name="name"
                    placeholder="Your name *" required />
                <input class="userdata-field" type="email" name="email"
                    placeholder="Your email *" required />
            </fieldset>
            <fieldset class="message">
                <textarea class="message-field" name="message" rows="7"
                    placeholder="Your message *"></textarea>
            </fieldset>
            <button class="button" type="submit">Send</button>
        </form>
    </section>
